@page
@model ccse_cw1.Pages.CustomerDashboard.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="align-content:center">Tour Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TourBooking[0].CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourBooking[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourBooking[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourBooking[0].TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourBooking[0].TourID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TourBooking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.TourID)
            </td>
            <td>
                <a asp-page="./EditTour" asp-route-id="@item.TourBookingID">Edit</a> |
                <a asp-page="./Payment" asp-route-id="@item.TourBookingID">Pay</a>
            </td>
        </tr>
}
    </tbody>
</table>

<h1 style="align-content:center">Hotel Bookings</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelBooking[0].CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelBooking[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelBooking[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelBooking[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelBooking[0].HotelID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HotelBooking)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.HotelID)
                </td>
                <td>
                    <a asp-page="./EditHotel" asp-route-id="@item.HotelBookingID">Edit</a> |
                    <a asp-page="./Payment" asp-route-id="@item.HotelBookingID">Pay</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h1 style="align-content:center">Package Bookings</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Package[0].TourID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package[0].HotelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package[0].CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package[0].HotelStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package[0].HotelEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package[0].TourStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package[0].TourEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package[0].TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Package)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TourID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelEndDate)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.TourStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TourEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    <a asp-page="./EditPackage" asp-route-id="@item.PackageID">Edit</a> |
                    <a asp-page="./Payment" asp-route-id="@item.PackageID">Pay</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p style="font-size: 25px; font-weight: bold; margin-top: 5px;"> For cancellations please contact Managers of PacificTours. Keep in mind cancellations may be made 5 days prior to the booking.</p>